
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Presentice - Login</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet">
    <!-- script -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
    <script src="http://www.parsecdn.com/js/parse-1.2.15.min.js"></script>
  </head>

  <body> 

    <div class="container">

      <form class="form-signin" name="loginForm" role="form" method="post" action="/login">
        <h2 class="form-signin-heading">Presentice Login</h2>
        <input type="text" id="username" name="username" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block login-btn" type="submit">Login</button>
      </form>
      <div class="register">
      	<h3>Don't have an account?</h3>
      	<button type="button" class="btn btn-lg  btn-block btn-primary">Register With Facebook</button>
      	<h3>Don't worry! We will never post anything on your facebook</h3>
  	  </div>
    </div> 
  </body>
  <script type="text/javascript">
  	function Login(){
  		Parse.initialize("Q7ub1yg5A0AmDAnwnzVc2SS0X0Q4UZMefq3Kukdf", "dpqGmdW8VDtxsBwJ93hOWQqekd9M4OQwc8flxhmI");
  		var username = document.loginForm.username.value;
  		var password = document.loginForm.password.value;
  		Parse.User.logIn(username, password, {
  			success: function(user) {
  				window.location.href = '/home';
  			},
  			error: function(user, error) {
  				console.log(error);
  			}
		});
  	};
  </script>
</html>
